/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

  @font-face {
    font-family: "vladmir script";
    src: url(font_path("vlad.woff2"));
  }

  .label {
    font-size: 14px;
  }

  #newNav ul.main li a {
    font-size: 21px;
    color: #5f5f5f;
    text-transform: lowercase;
  }
  #newNav ul.main li a:hover,
  #newNav ul.main li a.active {
    color: #99cccc;
  }
  #newNav ul.main li a.active {
    margin-bottom: -3px;  
    border-bottom: 3px solid #666;
  }
  #newNav ul.main li.last {
    right: 0;
    margin: 0;
    
  }


  .topBanner {
  }
  .topBanner .left {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .topBanner .topLeft {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .topBanner .cart {
    display: inline-block;
    margin-left: 20px;
  }
  .topLeft {
      position: absolute;
      right: 20px;
      top: 10px;
  }
  .topLeftNav {
      display: inline-block;
      
      margin-left: 20px;
      position: absolute;
      top: 10px;
      right: 15px;
      a {
        color: #666;
      }
  }

  @media screen and (max-width: 768px) {
    .cart { display: none; }
  }
  @media screen and (min-width: 768px) {
    #cart_link, #user_link { display: none; }
  }

  @font-face {
    font-family: myfont;
    src: url('myfont.wof') format('truetype');
  }
  


  .imageHolder {
    
    height: 300px;
    text-align: center;
    -border: black 1px solid;

    margin: 0 auto;
    
  }
  .imageHolder img {
    vertical-align: middle;
    max-width: 98%;
    margin: 0;
    height: 280px;

  }
  .imageHolder .helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .productTitle{
    color: #000;
    text-align: center;
  }
  .productPrice{
    text-align: center;
  }

  .row-centered {
      text-align:center;
  }
  .col-centered {
      display:inline-block;
      float:none;
      /* reset the text-align */
      text-align:left;
      /* inline-block space fix */
      margin-right:-4px;
  }



