

<% if  @category %>
  <% @category.products.includes(:product_attachments).reverse.each do |product| %>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 20px">
      <%= link_to product_path(product) do %>

          <div class="imageHolder">
            <div class="helper"></div>
            <%= image_tag product.product_attachments.first.image_url(:thumb)  %><br>
          </div>
          <div class="productTitle"> <%= product.title.truncate(28) %> </div>
          <div class="productPrice"> <%= number_to_currency(product.price, precision: 0) %> </div>

      <% end %>
    </div>
  <% end %>
<% else %>
  此分類沒有商品<br>
<% end %>


